.fa-times {
  color: grey;
}

.fa-times:hover {
  color: red;
}

.fa-reply {
  color: grey;
}

.fa-reply:hover {
  color: blue;
}

.fa-pencil {
  color: grey;
}

.fa-pencil:hover {
  color: limegreen;
}

.fa-star {
  color: grey;
}

.fa-star:hover {
  color: green;
}

.message-image-rounded {
  border-radius: 5px;
}

.centered-main {
  display: flex;
  padding-top: 1vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.centered {
  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.panel {
  min-width: 60vw;
}

.media {
  width: 100%;
}

form.box {
  background-color: #e5eaef;
}

.messages-padding {
  padding: 1vh;
}

.pt {
  padding-top: 0.5vh;
}

.pr-1 {
  padding-right: 1vw;
}

.pr {
  padding-right: 0.5vw;
}

.px-1 {
  padding: 1vh 0;
}

.char-count {
  align-self: center;
}

.char-count-focus {
  color: #00d1b2;
}

.imagePreview {
  padding: 0 0.5vw;
}

.upload-image-remove {
  position: relative;
  left: 9vw;
  padding: 0;
  z-index: 2;
}

.new-message-box {
  margin: 1vh;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.remove-image {
  top: 5vh;
  left: 9vw;
  z-index: 2;
}

#uploadBar {
  display: none;
}

.textarea {
  min-height: 0 !important;
}

.selected-message:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
