.fa-times {
    color: grey;
}

.fa-times:hover {
    color: black;
}

.fa-reply {
    color: grey;
}

.fa-reply:hover {
    color: blue;
}

.fa-retweet {
    color: grey;
}

.fa-retweet:hover {
    color: limegreen;
}

.fa-heart {
    color: grey;
}

.fa-heart:hover {
    color: darkred;
}

.centered-main {
    display: flex;
    padding-top: 1vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.centered {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.panel {
    min-width: 60vw;
}

.media {
    width: 100%;
}

form.box {
    background-color: #E5EAEF;
}

.messages-padding {
    padding: 1vh;
}

nav.level {
    padding-top: 2vh;
}

.px-2 {
    padding: 0 2vw;
}

.upload-image-remove {
    position: relative;
    left: 9vw;
    top: 3vh;
    z-index: 2;
}

.new-message-box {
    margin: 1vh;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.remove-image {
    top: 5vh;
    left: 9vw;
    z-index: 2;
}

#uploadBar {
    display: none;
}