:root {
    --base-icon: grey;
    --primary: #00d1b2;
    --blue-grey: #e5eaef;
}

.remove {
    color: var(--base-icon);
}

.remove:hover {
    color: red;
}

.reply {
    color: var(--base-icon);
}

.reply:hover {
    color: blue;
}

.edit {
    color: var(--base-icon);
}

.edit:hover {
    color: var(--primary);
}

.star {
    color: var(--base-icon);
}

.star:hover {
    color: green;
}

.flag {
    color: var(--base-icon);
}

.flag:hover {
    color: #ddda00;
}

.liked {
    color: green;
}

.scribe-container {
    padding: 0 2vw;
    background-image: linear-gradient(141deg, #dfd8d8 0%, whitesmoke 71%, white 100%);
    min-height: 100vh;
}

.scribe-spacing {
    padding: 0.625rem;
}

.grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-container {
	padding: 0 2vw;
}

.backing {
    background-image: linear-gradient(141deg, #dfd8d8 0%, whitesmoke 71%, white 100%);
    min-height: 80vh;
}

.image-rounded {
    border-radius: 5px;
}

.image-top-borders-rounded {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.centered {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-card {
    background-color: var(--blue-grey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 0.625rem !important;
}

article.media.flat-box {
    padding: 0.625rem;
    background-color: var(--blue-grey);
}

article.media.nested-flat-box {
    padding: 0.625rem;
    border-radius: 5px;
    background-color: var(--blue-grey);
}

li.card:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pt {
    padding-top: 0.5vh;
}

.pt-1 {
    padding-top: 1vh;
}

.pb {
    padding-bottom: 1vh;
}

.pr {
    padding-right: 0.5vw;
}

.pl {
    padding-left: 0.5vw;
}

.pl-1 {
    padding-left: 1vw;
}

.pr-1 {
    padding-right: 1vw;
}

.px {
    padding: 0.5vh 0;
}

.px-1 {
    padding: 1vh 0;
}

.py {
    padding: 0 0.5vw;
}

.char-count {
    align-self: center;
}

.char-count-focus {
    color: var(--primary);
}

.imagePreview {
    padding: 0 0.5vw;
}

.imagePreview-Wrapper {
    position: relative;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 0.5vh 0.5vw;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.topright {
    position: absolute;
    top: .5vh;
    left: 8.5vw;
    z-index: 2;
}

.icon-topright {
    position: absolute;
    top: -12rem;
    left: 6.5rem;
    z-index: 2;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#uploadBar {
    display: none;
}

.textarea {
    min-height: 0 !important;
}

.selected-scribe:hover {
    background-color: whitesmoke;
}

.upload-bar {
    color: var(--primary);
    text-align: center;
}

.invisible {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

.profile-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.profile-card .card-content {
    padding: 0.3125rem;
}

.profile-card .media {
    padding: 0 0.3125rem 0.3125rem;
}

.profile-card-large {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.profile-card-large .card-content {
    padding: 0.625rem;
}

.profile-card-large .media {
    padding: 0 0.3125rem 0.3125rem;
}

.follow-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 0 0.3125rem 0.3125rem;
}

.signIn-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 0 0.3125rem 0.3125rem;
}

.text-is-primary {
    color: var(--primary);
    font-size: 1.25rem;
}

.subtitle.is-7 {
    font-size: 0.75rem;
}

.lh-1 {
    line-height: 1vh;
}

.leveled {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5vw;
}

.scribe-actions-leveled {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scribe-actions-leveled-nested {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .scribe-actions-leveled {
        width: 80%;
    }
    .scribe-actions-leveled-nested {
        width: 100%;
    }
}

.is-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-border-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -25px;
    border: 2.5px solid white;
    border-radius: 5px;
}

.is-border-image-large {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -67px;
    border: 2.5px solid white;
    border-radius: 5px;
}

.icon-centered {
    position: absolute;
    left: 3.15rem;
    bottom: 9rem;
    z-index: 2;
}

label.label {
    margin: 0 !important;
}
