.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.hidden {
    display: none;
}

.nav-image-is-rounded {
    border-radius: 12px;
}

.grid-container {
    display: flex;
    margin: 0 2vw;
    justify-content: space-between;
    width: 100vw;
}

.nav-item:nth-child(3) {
    flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.nav-spacing {
	margin-right: 10px;
}
