:root {
  --base-icon: grey;
  --primary: #00d1b2;
}


a.nav-item.is-tab {
  color: var(--base-icon);
}

a.nav-item.is-tab:hover {
  color: var(--primary);
}

a.nav-item.is-tab:last-child:hover {
  color: red;
  border-bottom-color: red;
  border-top-color: transparent;
}

.nav-btn {
  color: var(--base-icon);
}

.nav-btn:hover {
  color: var(--primary);
}

.signout-btn {
  color: var(--base-icon);
}

.signout-btn:hover {
  color: red;
  border-bottom: 1px solid red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.hidden {
  display: none;
}

.nav-image-is-rounded {
  border-radius: 12px;
}

.grid-container {
  display: flex;
  margin: 0 2vw;
  justify-content: space-between;
  width: 100vw;
	align-items: center;
}

.nav-item:nth-child(3) {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nav-spacing {
  margin-right: 10px;
}

.default-icon{
	height: 56px;
	font-size: 2em;
}
